<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="welcome"><strong><em>Add Caught Fish</em></strong></div>
    <div class="row justify-content-md-center text-center">
        private String fishName;
        private Double weightInKilograms;
        private Integer lengthInCentimeters;
        <form>
            <div class="form-row">
                <div class="form-group col-md ">
                    <label for="fishName"><em><strong class="label-color">Fish Name</strong></em></label>
                    <input type="text" class="form-control" id="fishName" placeholder="Fish Name..." name="fishName"
                           th:value="*{fishName}">
                </div>
            </div>
            <div class="form-group col-md ">
                <label for="weightInKilograms"><em><strong class="label-color">Weight In Kilograms
                    Name</strong></em></label>
                <input type="text" class="form-control" id="weightInKilograms" placeholder="Weight In Kilograms..."
                       name="weightInKilograms"
                       th:value="*{weightInKilograms}">
            </div>
            <div class="form-group col-md ">
                <label for="lengthInCentimeters"><em><strong class="label-color">Length In
                    Centimeters</strong></em></label>
                <input type="text" class="form-control" id="lengthInCentimeters" placeholder="Length In Centimeters..."
                       name="lengthInCentimeters"
                       th:value="*{lengthInCentimeters}">
            </div>
            <button type="submit" class="btn btn-primary">Add Caught Fish</button>
        </form>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>

</body>

</html>