body, html {
    height: 100%;
    margin: 0;
}
  
main{
    background-image: url(/img/Batak.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5mm;
}

img{
    height: 50px;
    margin-left: 5mm;
}

p.text-center{
    color: blue;
    font-size: 15mm;
    padding-top: 30px;
}

li>button{
    margin-left: 5px;
    margin-right: 5px;
}

