main {
    background-image: url(/img/Romantica.jpg);
    width: 100%;
    height: 600px;

}

#welcome {
    text-align: center;
    font-size: 15mm;
    color: blue;
    padding: 5sm;
    margin: 5sm;
}