<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body class="destinations">

<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>

<main>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1 class="text-center welcome"><em>Create Destination</em></h1>
        </div>
        <div class="row justify-content-md-center text-center">
            <form class="form w-25 mx-auto" th:action="@{/destinations/create}" th:method="post" th:object="${model}">
                <input type="hidden" name="creator" th:value="*{#authentication.getPrincipal().getUsername()}">
                <div class="form-row">
                    <div class="form-group col-md ">
                        <label for="imgUrl"><em><strong class="label-color">Image URL</strong></em></label>
                        <input type="text" class="form-control" id="imgUrl" placeholder="Image Url..." name="imgUrl"
                               th:value="*{imgUrl}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md ">
                        <label for="townName"><em><strong class="label-color">Town Name</strong></em></label>
                        <input type="text" class="form-control" id="townName" placeholder="townName..." name="townName"
                               th:value="*{townName}">
                        <th:block th:if="${#fields.hasErrors('townName')}">
                            <small class="error" th:errors="*{townName}"></small>
                        </th:block>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label for="population"><em><strong class="label-color">Population</strong></em></label>
                        <input type="number" class="form-control" id="population" placeholder="population..."
                               name="population"
                               th:value="*{population}">
                        <th:block th:if="${#fields.hasErrors('population')}">
                            <small class="error" th:errors="*{population}"></small>
                        </th:block>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label for="altitude"><em><strong class="label-color">Altitude</strong></em></label>
                        <input type="number" class="form-control" id="altitude" placeholder="altitude..."
                               name="altitude"
                               th:value="*{altitude}">
                        <th:block th:if="${#fields.hasErrors('altitude')}">
                            <small class="error" th:errors="*{altitude}"></small>
                        </th:block>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description"><em><strong class="label-color">Description</strong></em></label>
                    <textarea id="description" class="form-control" rows="5" name="description" th:value="*{description}">
                       </textarea>
                </div>
                <button type="submit" class="btn btn-primary">Creat Destination</button>
            </form>
        </div>
    </div>
</main>

<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>

</body>
</html>