<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body class="destinations">

<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>

<main>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <span class="text-center welcome">Destination Details</span>
        </div>
        <div class="row destinations-details">
            <div class="col-md-6 text-right mt-5">
                <img th:src="${destination.imgUrl}" class="img-thumb" width="300" height="200"/>
            </div>
            <div class="col-md-6 text-left">
                <div class="col-md-6 mt-5 text-white font-weight-bold text-center">
                    <h4 th:text="'Town: ' + ${destination.townName}"></h4>
                </div>
                <div class="col-md-6 mt-2 text-white font-weight-bold text-center">
                    <h4 th:text="'Population: ' + ${destination.population}"></h4>
                </div>
                <div class="col-md-6 mt-2 text-white font-weight-bold text-center">
                    <h4 th:text="'Altitude: ' + ${destination.altitude}"></h4>
                </div>
                <div class="col-md-6 mt-2 text-white font-weight-bold text-center">
                    <h4 th:text="'Description:'"></h4>
                    <textarea th:text="${destination.description}"
                              class="form-control" readonly id="description"></textarea>
                </div>
                <!--                <th:bolck th:if="${#authentication.getPrincipal().getUsername()} != ${destination.creator}">-->
                <div class="col-md-6 mt-2 text-white font-weight-bold text-center">

                </div>
                <div class="col-md-6 mt-2 text-white font-weight-bold text-center">

                </div>
                <div class="col-md-6 mt-2 text-white font-weight-bold text-center">

                </div>
                <div class="col-md-6 mt-2 text-white font-weight-bold text-center">

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <ul class="nav">
                <li class="nav-item m-md-2"><a th:href="@{/fishings/create/{id}(id=${destination.id})}"
                                               class="btn btn-primary font-weight-bold text-white mt-2">Create
                    Fishing</a></li>
                <li class="nav-item m-md-2"><a
                        th:href="@{/fishings/all-my-for-destination/{townName}(townName=${destination.townName})}"
                        class="btn btn-primary font-weight-bold text-white mt-2">All My Fishing For This Destination</a>
                </li>
                <li class="nav-item m-md-2"><a
                        th:href="@{/fishings/all-for-destination/{id}(id=${destination.townName})}"
                        class="btn btn-primary font-weight-bold text-white mt-2">All Fishings For The
                    Destination</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</main>

<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>

</body>

</html>