<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body class="destinations">
<header>
    <th:block th:include="~{fragments/destination-navbar}"/>
</header>
<main>
    <div class="welcome"><strong><em>Upcoming Destination</em></strong></div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>

</html>