<th:block>
    <nav>
        <div class="container-fluid footer-back">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/destinations/add}">Add Destination</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/add-upcoming-destination}">Add Upcoming Destination</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/destinations/all}">All Destination</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/destinations/}">Destinations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>

    </nav>
</th:block>