<th:block>
    <nav>
        <div class="container-fluid footer-back">
            <ul class="nav justify-content-end">

                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/register}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/login}">Login</a>
                    </li>
                </th:block>

                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout?login}">Logout</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Destinations</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/destinations/add}">Add Destination</a>
                            <a class="dropdown-item" th:href="@{/destinations/upcoming}">Add Upcoming Destination</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/destinations/all}">All Destination</a>
                        </div>
                    </li>
                </th:block>

            </ul>
        </div>
    </nav>
</th:block>