<th:block>
    <nav>
        <div class="container-fluid footer-back">
            <ul class="nav justify-content-end">

                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/register}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/login}">Login</a>
                    </li>
                </th:block>

                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout?login}">Logout</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Destinations</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/destinations/add}">Add Destination</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/destinations/all}">All Destination</a>
                        </div>
                    </li>
                </th:block>

                <th:block sec:authorize="hasRole('ROLE_MODERATOR')">
                    <li class="nav-item active">
                        <div class="dropdown show">
                            <a class="nav-link active dropdown-toggle" href="#" role="button" id="moderatorDropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Moderator
                            </a>
                            <div class="dropdown-menu" aria-labelledby="moderatorDropdown">
                                <a class="dropdown-item" th:href="@{/categories/add}">Add Category</a>
                                <a class="dropdown-item" th:href="@{/products/add}">Add Product</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/categories/all}">All Categories</a>
                                <a class="dropdown-item" th:href="@{/products/all}">All Products</a>
                            </div>
                        </div>
                    </li>
                </th:block>

                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item active">
                        <div class="dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" role="button" id="adminDropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                <a class="dropdown-item" th:href="@{/users/all}">All Users</a>
                                <a class="dropdown-item" th:href="@{/orders/all}">All Orders</a>
                            </div>
                        </div>
                    </li>
                </th:block>

            </ul>
        </div>
    </nav>
</th:block>