<th:block>
    <nav>
        <div class="container-fluid footer-back">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <!--                    <a class="nav-link" href="register.html">Register</a>-->
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/destination}">Destination</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>

    </nav>
</th:block>