body, html {
    height: 100%;
    margin: 0;
}
  
main{
    background-image: url(/static/jpg/Beglik.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5mm;
}

img{
    height: 50px;
    margin-left: 5mm;
}

h1.text-center{
    color: blue;
    font-size: 15mm;
    /* background-color: rgb(128, 218, 245); */
    border-radius: 3mm;
    width: 600px;
    padding-top: 80px;
}
