nav {
    background-color: #d1ecf1;
}

body {
    background-image: url(/jpg/Batak.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 80px;
}

.fishing {
    background-image: url(/jpg/Romantica.jpg);
}

.destinations {
    background-image: url(/jpg/Beglik.jpg);
}

.fish {
    background-image: url(/jpg/BashMaistora.jpg);
}

.lure {
    background-image: url(/jpg/Lures.jpg);
}


footer {
    background-color: #d1ecf1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

.img-logo {
    height: 40px;
    margin-left: 5mm;
}

.label-color {
    color: beige;

}

.img-thumb {
    padding: .25rem;
    background-color: #fff;
    border: 0.5px solid #0062cc;
    border-radius: .25rem;
    max-width: 100%;
}

.welcome {
    text-align: center;
    font-size: 10mm;
    color: blue;
    font-style: italic;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.error {
    color: red;
    font-family: "Harlow Solid Italic";
    font-size: 15px;
}

.fishing-list {
    padding: 30px;
    margin: 30px;
    border: 0.1px solid white;
    border-radius: .25rem;
    max-width: 100%;
}

.lure-list {
    padding: 30px;
    margin: 30px;
    border: 1px solid white;
    border-radius: .25rem;
    max-width: 100%;
    text-align: center;
    font-size: 20px;
    padding-left: 50px;
    /*background-color: rgba(0,0,0, 0.1); !* Black w/opacity/see-through *!*/
    background-color: #80bdff; /* Black w/opacity/see-through */
    /*background-image: url(/jpg/Lures.jpg);*/
}

.index-text {
    font-size: 2rem;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.destinations-details {
    border: 0.5px solid white;
    margin-left: 250px;
    margin-top: 10px;
    margin-right: 250px;
    border-radius: .5rem;
}

.listing {
    width: 10em;
    word-wrap: break-word;
}

/*=============================================*/

.bg-blur {
    /*background-color: rgb(0,0,0); !* Fallback color *!*/
    background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
    /*font-weight: bold;*/
    /*border: 3px solid #f1f1f1;*/
    /*z-index: 2;*/
    /*width: 100%;*/
    /*padding: 20px;*/
    margin: 50px;
    /*text-align: center;*/
}