nav {
    background-color: #d1ecf1;
}

body {
    background-image: url(/jpg/Batak.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 80px;
}

.destinations {
    background-image: url(/jpg/Romantica.jpg);
}


footer {
    background-color: #d1ecf1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.img-logo {
    height: 40px;
    margin-left: 5mm;
}

.label-color {
    color: beige;
}

.img-thumb {
    padding: .25rem;
    background-color: #fff;
    border: 0.5px solid #0062cc;
    border-radius: .25rem;
    max-width: 100%;
}

.welcome {
    text-align: center;
    font-size: 10mm;
    color: blue;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.error {
    color: red;
    font-family: "Harlow Solid Italic";
    font-size: 15px;
}

