<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body class="container-fluid">

<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>

<main>
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <h1 class="text-center welcome"><em>Welcome to My Fishing Adventures,
                [[*{#authentication.getPrincipal().getUsername()}]]!</em>
            </h1>
        </div>

        <div class="row justify-content-center">
            <form id="create-destination" class="form w-25 mx-auto" th:action="@{/api/top-five}" method="post"
                  enctype="multipart/form-data">
                <div class="form-check">
                    <input class="form-check-input myRadio" type="radio" name="radio" id="exampleRadios1"
                           value="option1">
                    <label class="form-check-label label-color" for="exampleRadios1">Top 5 Fishing Destinations</label>
                </div>
                <br>
                <div class="form-check">
                    <input class="form-check-input myRadio" type="radio" name="radio" id="exampleRadios2"
                           value="option2">
                    <label class="form-check-label label-color text-center" for="exampleRadios2">Top 5 Successful
                        Fishings</label>
                </div>
            </form>
        </div>
        <input type="radio" class="message_pri" name="message_pri" value="1"/> ON
        <input type="radio" class="message_pri" name="message_pri" value="2"/> OFF
        <input type="radio" class="message_pri" name="message_pri" value="3"/> FOLLOWERS
    </div>
</main>

<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/topFive.js"></script>

</body>
</html>