<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body class="container-fluid">
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1 class="text-center welcome"><em>Welcome #{g-n Nekoi si}</em></h1>
        </div>
    </div>

</main>

<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

</body>

</html>