<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body class="container-fluid">

<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>

<main class="back-index">
    <div>
        <h1 class="font-italic welcome">My Fishing Adventure</h1>
        <p class="text-white font-italic index-text">
            This is the best application for fishing lovers. Here you can create destinations, fishing, and add fish
            caught to them! <a th:href="@{/users/login}">Login</a>, if you don't have an account,
            don't hesitate - <a th:href="@{/users/register}">Register</a>
        </p>
    </div>
</main>

<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>

</body>
</html>