<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body class="container-fluid">
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
    <main>
        <div class="container-fluid">
            <div class="row justify-content-md-center text-center">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md ">
                            <label for="inputEmail4"> <em> <strong class="label-color ">Email</strong></em></label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <label for="inputPassword4"><em><strong class="label-color">Password</strong></em></label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <label for="inputPassword4"><em><strong class="label-color">Repeat Password</strong></em></label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>



        </div>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>



</body>

</html>