<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="welcome"><strong><em>Add Fishing</em></strong></div>
    <div class="row justify-content-md-center text-center">
        <!--        private String date;-->
        <!--        private Boat boat;-->
        <!--        private Destination destination;-->
        <!--        private List<Fish> fishes;-->
        <!--        private List<Lure> lures;-->
        <form>
            <div class="form-row">
                <div class="form-group col-md ">
                    <label for="date"><em><strong class="label-color">Date</strong></em></label>
                    <input type="date" class="form-control" id="date" placeholder="Date..." name="date"
                           th:value="*{date}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md ">
                    <label for="description"><em><strong class="label-color">Description</strong></em></label>
                    <textarea class="form-control" id="description" rows="3" th:value="*{description}"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Fishing</button>
        </form>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>

</body>

</html>