<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body class="fishing">

<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>

<main>
    <div class="welcome"><p th:text="'All My Fishings For: ' + ${townName}"></div>
    <div class="row d-flex justify-content-center">
        <th:block th:each="fishing, iter : ${fishings}">
            <div class="col col-md-5 fishing-list listing">
                <div class="text-center text-white">
                    <img th:src="${fishing.imgUrl}" width="300" height="200">
                    <h4 th:text="'Creator: '+ ${fishing.creator}"></h4>
                    <h4 th:text="'Destination: ' + ${fishing.description}"></h4>
                    <h4 th:text="'Created on: '+${fishing.date}"></h4>
                </div>
                <div class="text-center text-white">
                    <ul class="nav justify-content-center">
                        <li class="nav-item m-md-2">
                            <a th:href="@{/fishes/create/{id}(id=${fishing.id})}"
                               class="btn btn-primary font-weight-bold text-white btn-sm">Add Fish</a>
                        </li>
                        <li class="nav-item m-md-2">
                            <a th:href="@{/lures/create/{id}(id=${fishing.id})}"
                               class="btn btn-primary font-weight-bold text-white btn-sm">Add Lure</a>
                        </li>
                        <li class="nav-item m-md-2">
                            <a th:href="@{/destinations/details/{id}(id=${fishing.id})}"
                               class="btn btn-warning font-weight-bold text-white btn-sm">Details</a>
                        </li>
                        <li class="nav-item m-md-2">
                            <a th:href="@{/destinations/edit/{id}(id=${fishing.id})}"
                               class="btn btn-success font-weight-bold text-white btn-sm">Edit</a>
                        </li>
                        <li class="nav-item m-md-2">
<!--                            <a th:href="@{/destinations/delete/{id}(id=${fishing.id})}"-->
<!--                               class="btn btn-danger font-weight-bold text-white btn-sm">Delete</a>-->

                            <a th:href="@{/fishings/delete/{id}/{townName}(id=${fishing.id}, townName =${townName})}"
                               class="btn btn-danger font-weight-bold text-white btn-sm">Delete</a>
                        </li>
                        <li class="nav-item m-md-2">
                            <a th:href="@{/fishes/all-for-fishing/{id}(id=${fishing.id})}"
                               class="btn btn-primary font-weight-bold text-white mt-2 btn-sm">All Fishes For This Fishing</a>
                        </li>
                        <li class="nav-item m-md-2">
                            <a th:href="@{/lures/all-for-fishing/{id}(id=${fishing.id})}"
                               class="btn btn-primary font-weight-bold text-white mt-2 btn-sm">All Lures For This Fishing</a>
                        </li>
                    </ul>
                </div>
            </div>
        </th:block>

        <th:block th:if="${fishings.size()} %3 == 1">
            <div class="col col-md-3 fishing-list"></div>
            <div class="col col-md-3 fishing-list"></div>
        </th:block>

        <th:block th:if="${fishings.size()} %3 == 2">
            <div class="col col-md-3 fishing-list"></div>
        </th:block>

    </div>
</main>

<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>

</body>
</html>