<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body class="fishing">

<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>

<main>
    <div class="welcome"><p th:text="'All My Fishings For: ' + ${townName}"></div>
    <div class="row d-flex justify-content-center">
        <th:block th:each="fishing, iter : ${fishings}">
            <div class="col col-md-5 fishing-list">
                <div class="justify-content-center">
                    <img th:src="${fishing.imgUrl}" width="300" height="200">
                </div>
                <div class="justify-content-center text-white p-text">
                    <p class="text-center" th:text="'Creator: '+ ${fishing.creator}"></p>
<!--                    <p class="text-left" th:text="'Destination: ' + ${fishing.description}"></p>-->
                    <p class="text-center" th:text="'Created on: '+${fishing.date}"></p>
                    <p class="text-center" th:text="'Count Of Fishes: '+${fishing.countOfFishes}"></p>
                    <p class="text-center" th:text="'Count Of Lures: '+${fishing.countOfLures}"></p>
                </div>
                <div class="text-center text-white">
                    <ul class="nav justify-content-center">

                        <li class="nav-item m-md-2">
                            <a th:href="@{/fishes/create/{id}/{townName}(id=${fishing.id}, townName=${townName})}"
                               class="btn btn-primary font-weight-bold text-white btn-sm">Add Fish</a>
                        </li>
                        <li class="nav-item m-md-2">
                            <a th:href="@{/lures/create/{id}/{townName}(id=${fishing.id}, townName=${townName})}"
                               class="btn btn-primary font-weight-bold text-white btn-sm">Add Lure</a>
                        </li>
                        <li class="nav-item m-md-2">
                            <a th:href="@{/fishings/details/{id}(id=${fishing.id})}"
                               class="btn btn-warning font-weight-bold text-white btn-sm">Details</a>
                        </li>
                        <li class="nav-item m-md-2">
                            <a th:href="@{/destinations/edit/{id}(id=${fishing.id})}"
                               class="btn btn-success font-weight-bold text-white btn-sm">Edit</a>
                        </li>
                        <li class="nav-item m-md-2">
                            <a th:href="@{/fishings/delete/{id}/{townName}(id=${fishing.id}, townName =${townName})}"
                               class="btn btn-danger font-weight-bold text-white btn-sm">Delete</a>
                        </li>
                        <li class="nav-item m-md-2">
                            <a th:href="@{/fishes/all-for-fishing/{id}(id=${fishing.id})}"
                               class="btn btn-primary font-weight-bold text-white mt-2 btn-sm">All Fishes For This
                                Fishing</a>
                        </li>
                        <li class="nav-item m-md-2">
                            <a th:href="@{/lures/all-for-fishing/{id}(id=${fishing.id})}"
                               class="btn btn-primary font-weight-bold text-white mt-2 btn-sm">All Lures For This
                                Fishing</a>
                        </li>
                    </ul>
                </div>
            </div>
        </th:block>

        <th:block th:if="${fishings.size()} %2 == 1">
            <div class="col col-md-5 fishing-list-empty"></div>
        </th:block>

<!--        <th:block th:if="${fishings.size()} %3 == 2">-->
<!--            <div class="col col-md-3 fishing-list"></div>-->
<!--        </th:block>-->

    </div>
</main>

<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>

</body>
</html>