<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body>

<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>

<main>
    <div class="welcome"><strong><em>Add Fishing</em></strong></div>
    <div class="row justify-content-md-center text-center">
        <form id="create-fishing" class="form w-25 mx-auto" th:action="@{/fishings/create/}" method="post"
              enctype="multipart/form-data">
            <input type="hidden" name="destinationId" th:value="*{#httpServletRequest.requestURL}">
            <div class="form-row">
                <div class="form-group col-md ">
                    <label for="add-fishing-image"><em><strong class="label-color">Image</strong></em></label>
                    <input type="file" class="form-control-file bg-white" id="add-fishing-image" name="image">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md ">
                    <label for="date"><em><strong class="label-color">Date</strong></em></label>
                    <input type="date" class="form-control" id="date" placeholder="Date..." name="date">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md ">
                    <label for="description"><em><strong class="label-color">Description</strong></em></label>
                    <textarea name="description" id="description" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Fishing</button>
        </form>
    </div>
</main>

<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>

</body>

</html>