<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body>

<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>

<main>
    <div class="welcome"><strong><em>All Fishings</em></strong></div>
    private String imgUrl;
    private String destinationId;
    private LocalDate date;
    private String description;
    <th:block th:each="fishing, iter : ${fishings}">
        <div class="row">
            <div class="col col-md-4">
                <div class="text-center"><img th:src="${fishing.imgUrl}" width="355" height="200"
                                              class="img-thumb" alt="Destination">
                    <p th:text="${fishing.destinationId}"></p>
                    <p th:text="${fishing.date}"></p>
                    <p th:text="${fishing.fishing.description}"></p>
                    <a th:href="@{/fishings/add/{id}(id=${fishing.id})}"
                       class="btn btn-primary font-weight-bold text-white">Add Fish</a>
                    <a th:href="@{/destinations/details/{id}(id=${fishing.id})}"
                       class="btn btn-warning font-weight-bold text-white">Details</a>
                    <a th:href="@{/destinations/edit/{id}(id=${fishing.id})}"
                       class="btn btn-success font-weight-bold text-white">Edit</a>
                    <a th:href="@{/destinations/delete/{id}(id=${fishing.id})}"
                       class="btn btn-danger font-weight-bold text-white">Delete</a>
                </div>
            </div>
        </div>
    </th:block>
</main>

<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>

</body>
</html>